# Multi monitor configuration
#xrandr --output HDMI-0 --mode 1920x1080 --primary --output HDMI-1 --mode 1360x768 --left-of HDMI-0
xrandr --output HDMI-1 --mode 1360x768 --primary --output HDMI-0 --mode 1920x1080 --right-of HDMI-1

